<div class="space-y-12">

    <h1>Dashboard</h1>

    <p>
      Welcome, <%= Current.user.email_address %>
    </p>

    <button class="btn btn-primary">Click me</button>

    <%= button_to "Log out", session_path, method: :delete %>

</div>
